#### Introduction to python programming

In [1]:
# Variable Definition
number = 100        #Defining Integer Variable
decimal = 1000.890  #Defining Float Variable : Decimal Values 
string = 'Hello World' #Defining String: "Text Information"
'''
Data types in python are as follows:
1.Integer
2.Float
3.string
'''

'\nData types in python are as follows:\n1.Integer\n2.Float\n3.string\n'

In [2]:
# Checking Datatype Variables
print(type(number))
print(type(decimal))
print(type(string))

<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
# type casting of data type
num = 100.2908383  #Datatype  :Float 
print(int(num))    #float is typecasted to int

100

In [4]:
# Using input function
# input() :--> Function
num =input('Enter the value')
'''
Whenever we use input function, the output of input function is always string
'''

print(type(num))
#doing typecasting
print(int(num))   #Typecasting string value to integer
print(float(num)) #typecasting string value to float

<class 'str'>
1000
1000.0

In [5]:
# Ask the user ro enter the string using input finction

str =input('Enter the name of the person: ')
print('tousif',str)
print(type(str))

tousif Tousif
<class 'str'>

In [6]:
# perform Mathmatical Operation 
num1 = float(input('Enter the first Number'))
num2 = float(input('Enter the second Number'))

num3 = num1 + num2

#using fstring method 
print(f'the addition of two number as {num1} and{num2} is',num3)

the addition of two number as 10.0 and20.0 is 30.0

In [7]:
#Strings Indexing and Slicing

string = input('Enter the string')

'''
H e l l o   W o r l d
0 1 2 3 4 5 6 7 8 9 10    :L--->R
...............-3-2-1     :R-->L
'''
print(string[6])   #Indexing
print(string[-5])  #Indexing

W
W

In [8]:
# Concept of Slicing
string = input('Enter the string')
'''
string[start:stop]
Example:
string = Hello World
string = Hello World
string[1:4]  ---> o/p :ell
'''
print(string[1:4])
print(string[:-1])
print(string[2:2])
print(string[4:-1])

ell
Hello World

o World

In [9]:
# Concept of Slicing
string = input('Enter the string')
'''
string[start:stop:step]
Example:
string = Hello World
string = Hello World
string[1:4]  ---> o/p :ell
'''
print(string[1::2])

el ol

In [10]:
#concept of Indexing and Slicing Together
str = 'Hello welcome to the world of python programming'
print(str[::2])
print(str[4:-2:])
print(str[::-1])

Hlowloet h ol fpto rgamn
o welcome to the world of python programmi
gnimmargorp nohtyp fo dlrow eht ot emoclew olleH

In [11]:
# Data Structures in python programming

'''
1. List : []  . Mutable in Nature
2. Tuple :() . Immutable in Nature
3. Dictionary : {'key1':Value, 'key2',Value2} : Immutable in Nature
4. sets  : {1,2,3,4,5} : Immutable in Nature
'''
# if Your are performming any computational software development program tuple is most preferred
# List Definition 

lst = [10,20,30,40]
print(lst)
print(type(lst))
# append() this is function which defined in class list 
# Therefore, append() is a method of class list 
# lst. append(50) :you are calling function using. operator
lst.append(50)
print(lst)

[10, 20, 30, 40]
<class 'list'>
[10, 20, 30, 40, 50]

In [ ]:
lst.insert(0,50) # This function will add the value 50 at an index 0   
print(lst)

[50, 50, 50, 5, 10, 20, 30, 40, 50]

In [17]:
lst.count(50)  #This function will count of values

4

In [19]:
lst.pop()  #This function will remove the last number present in the list
print(lst)

[50, 50, 50, 5, 10, 20, 30]

In [20]:
lst.remove(50) #This function will remove the specified value
print(lst)

[50, 50, 5, 10, 20, 30]

In [24]:
lst = [10,10,20,30,40,50,70,80]
lst.pop()
lst.remove(10)
lst.remove(20)
lst.remove(50)
print(lst)

[10, 30, 40, 70]

In [25]:
#Calculate length of the number present in list
#len() :function
print(len(lst))

4

In [26]:
#concept of Indexing and Slicing on List 
lst = [10,20,30,40,50,60]
print(lst[0::2])
print(lst[::-1])
print(lst[2])

[10, 30, 50]
[60, 50, 40, 30, 20, 10]
30

In [27]:
#Example 1
lst= [10,20,30,[40,50,60],[1,[2,[3,4,5,6],7],8,9],10]

In [28]:
#o/p :5
lst[4][1][1][2]

5

In [30]:
# Example 2
lst = [10,20,[1,2,3,[10,20,[30,[40,50,[60],70],90],9,100],1000],2000,[10000]]

In [32]:
# O/P :60
lst[2][3][2][1][2][0]

60

In [33]:
#Example 3
lst = [10,[100,200,300,[400,[500,[[[600],700],1],10],20]]]

In [34]:
lst[1][3][1][1][0][0][0]

600

In [35]:
# Example 4
# o/p : [800,900,1000]
lst=[10,[100,200,300,[400,[500,[[[600,700,800,900,1000,1100,1200],700],1],10],20]]]
lst[1][3][1][1][0][0][2:5]

[800, 900, 1000]

In [5]:
# Tuple Definition 
tuple = (10,20,30,40)
print(type(tup))
tup.count(10)

<class 'tuple'>

1

In [6]:
tuple.index(10)

0

In [8]:
#tuple indexing and slicing 
tuple = (10,20,30,[40,50,(30,40,(60,70,80))])

In [9]:
# Example :
#o/p70:80

tuple [3][2][2][1:]

(70, 80)

In [10]:
# Conditional statement
'''
if condition==True:
perform operation inside the loop
els:
perform this  operation 
note:= :Assignment operator
== : comparison operator
'''
num = 10

if num ==10:
    print('The value is 10')
else :
    print('The value is not 10')

The value is 10

In [11]:
# check the given string is palindrom or not 

text ='dad'
text1 = text[::-1]

if text == text1:
    print('The given string is palindrom')
else: 
    print('The givenn string is not a palindrom')

The given string is palindrom

In [12]:
'''
if condition:
statement 
elif condition:
statement 
else:
statement
'''

'\nif condition:\nstatement \nelif condition:\nstatement \nelse:\nstatement\n'

In [19]:
''' 
marks >80 : Best student 
marks between 60 to 79 :Good student 
marks between 50 to 59 :Average student 
marks< 49 : poor student 
'''

marks = float(input('Enter Marks of the student: '))

if marks >= 80:
    print ('Best student')
elif marks <80 and marks > 60:
    print('Good student')
elif marks <60 and marks > 50:
    print ('Average student')
else:
    print('poor student')

poor student

In [23]:
''' 
Balance = 10000
Withdraw = amount
threshould = 2000
'''

balance = 10000
threshould = 2000
withdraw = float(input('Enter the amout to withdraw'))

if withdraw >= balance:
    print('insufficient balance')
if withdraw <= balance:
    new_balance =balance - withdraw
if new_balance >= 2000:
    print('New balance is',new_balance)
else:
    print('check your transaction, once again')

check your transaction, once again

In [24]:
# For Loop 
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range (1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [28]:
''' 
*
**
***
****
*****
'''
for i in range(1,6):
    print('*'*i,)

*
**
***
****
*****

In [29]:
for i in range(1,6):
    print('*'*i*i)

*
****
*********
****************
*************************

In [3]:
# for loop 
list= []
for i in range (0,10):
    list.append(i*i)
    print(list)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# list comprehension 
# variable = [expression for count in range(x1,x2)]
square = [i*1 for i in range(0,10)]
square

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
odd = [i%2 == 1 for i in range(0,10)]
odd

[False, True, False, True, False, True, False, True, False, True]

In [9]:
square = [i**2 for i in range (0,10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
lst = ['Aniket','Parag','Nikhil','Mihir','Tanvi','Ajay']
new_list = [lst.upper() for lst in lst]
new_list

['ANIKET', 'PARAG', 'NIKHIL', 'MIHIR', 'TANVI', 'AJAY']

In [12]:
new_list = [lst.lower() for lst in lst]
new_list

['aniket', 'parag', 'nikhil', 'mihir', 'tanvi', 'ajay']

In [13]:
new_list = [len(lst) for lst in lst]
new_list

[6, 5, 6, 5, 5, 4]

In [18]:
new_list = sum([len(lst) for lst in lst])
new_list

31

In [19]:
new_list = min([len(lst) for lst in lst])
new_list

4

In [20]:
new_list = max([len(lst) for lst in lst])
new_list

6

In [24]:
#Logic 0 2 4 6 8: sum :20
n = sum([x for x in range (0,10) if x %2==0])
n

20

In [26]:
#Logic 0 1 3 5 7 9: sum :25
n = sum([x for x in range (0,10) if x %2 != 0])
n

25

In [27]:
#5 ! 5*4*3*2*1  ---> 120 
import math
math.factorial(5)

120

In [29]:
# square root 
print(5**0.5)
print(math.sqrt(5))

2.23606797749979
2.23606797749979

In [32]:
# pow 

print(math.pow(2,2))

4.0

In [3]:
print(math.log10(10))

1.0

In [2]:
import math 
import os
import datetime

In [7]:
# define function 

def sum(): #sum() function definition 
    print('HELLO WORLD')
    
ans = sum() #sum() function calling and storing in variable ans

HELLO WORLD

In [8]:
def sum(num1,num2):
    num3 = num1 + num2
    print(num3)
    
ans = sum(100,200)

300

In [ ]:
def sum(num1,num2):
    num3 = num1 + num2
    print(F'The Addition of two number{num1} and {num2} is',num3) 
    
ans = sum(100,200)

The Addition of two number100 and 200 is 300

In [14]:
num1 = float(input('Enter the first number'))
num2 = float(input('Enter the second number'))

def sum(num1,num2):
    num3 = num1 + num2
    print(f'The Addition of two number{num1} and {num2} is',num3)
    return num3
    
def mul(num1,num2):
    num4 = num1 * num2
    print(f'The multiplication of two number{num1} and {num2} is',num4)
    return num4
    
addition = sum(num1,num2)
multiplication = mul(num1,num2)

The Addition of two number10.0 and 20.0 is 30.0
The multiplication of two number10.0 and 20.0 is 200.0

In [13]:
multiplication

In [21]:
''' 
palindrom :
mom = mom
'''
text = input('Enter the string: ')
text1 = text[::-1]

def pal(text):
    if text == text1:
        print('The given is string is palindrom.')
    else:
        print('The given string is not a palindrom')
    
pal(text)

The given is string is palindrom.

In [12]:
''' 
CGPA >= 8 : Bright Student
CGPA between 6.9 to 7.9: Moderate student 
CGPA =< 6.8 : Weak student
'''

# Get CGPA input from user
cgpa = float(input("Enter your CGPA: "))

# Classification based on CGPA
if cgpa >= 8:
    print("Bright Student")
elif cgpa <= 7.9 and cgpa >= 6.9:
    print("Moderate Student")
else:
    print("Weak Student")

Moderate Student

In [15]:
cgpa = float(input("Enter your CGPA: "))

def compute(cgpa):
    if cgpa >= 8:
        print("Bright Student")
    elif cgpa <= 7.9 and cgpa >= 6.9:
        print("Moderate Student")
    else:
        print("Weak Student")
    
compute(cgpa)

Moderate Student

In [21]:
text = input('Enter the text: ')
text1 = text[::-1]
def  palindrom(text):   #Defining Function
    global text1
    if text == text1:
        print('The given string is palindrom: ')
    else:
        print('The given string is not a palindrom: ')
        
palindrom(text)

The given string is palindrom: